* {
	font-family: "times new roman";
	margin: 0;
}

body{
background-color:whitesmoke
}

.main {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	color: black;
	font-family: sans-serif;
	font-size: 17px;
}

/* Hlavicka */ 


a {
	text-decoration: none!important;
}

.prihlasovani {
	border: 0;
	float: right;
	padding-top: 12px;
}

.okno {
	margin-right: 5px;
	width: 150px;
	border-radius: 4px;
	border: 0.5px solid gray;
	height: 30px;
	box-shadow: -1px -1px -2px #000
}

.tlacitko {
	font-family: "verdana";
	display: inline;
	cursor: pointer;
	font-size: 13px;
	background: linear-gradient(#91cf91,#449d44);
	border-radius: 2px;
	border: 0.5px solid green;
	color: white;
	height: 30px;
	width: 84px;
	box-shadow: -1px -1px -2px #000;
}

.tlacitko:hover {
	background: #449d44;
}

.logged {
	padding-right: 25px;
	display: inline-block;
}


header {
	width: 100%;
	background: linear-gradient(#565656, #222222);
	text-align: left;
	height: 55px;
	min-width: 1040px;
}

header h20 {
font-family
margin: 0;
	float: left;
}

header h20 a, header h20 a:hover {
  margin-top: -5px;
	color: #999;
	font-size: 1.2em;
	padding-left: 10px;
	letter-spacing: -4px;
	border-bottom: none;
	display: block;
}

header h20 a strong {
	font-weight: normal;
	color: #2A5BBB;
}

.odkaz1 {
	border-bottom: none;
	text-shadow: 0.5px 0.5px 1px gray;
	font-size: 20px;
	color: #dddddd;

}

#header {
padding-right:70px;
width:400px;
margin:0 auto;
	padding-top: 17px;
	text-align: center;
}

.odkazy{
	cursor:pointer;
	margin-left: 40px;
	padding: 10px 8px 8px 6px;
		display: inline;
}

.odkazy:hover{
	background:#b2b2b2;
	border-radius: 6px;
}

#aktivni{
	padding: 10px 8px 8px 6px;
background: linear-gradient(#4e84e0,#225cc0);
	border-radius: 6px;}

#aktivni:hover{
background:#225cc0;
}

.clear {
	clear: both;
}

h20 {
	color: #000;
	font-size: 2.4em;
}

/* Body */ 

.body {
	color: #262626;
	background-color: #dfdfdf;
	font-size: 30px;
	font-family: sans-serif;

	padding-bottom: 1px;
	width: auto;
	max-width: 1920px;
	text-align: center;
	margin: 0 auto;
	min-width: 1040px;
}

h5{
	text-shadow: 0.5px 0.5px 1px gray;
	text-align: center;
	font-size: 40px;
	letter-spacing: 2px;
}

h2 {
	text-shadow: 0.5px 0.5px 1px gray;
	text-align: center;
	font-size: 75px;
	letter-spacing: 5px;

}

.vstoupit {
	cursor: pointer;
	background: linear-gradient(#4e84e0,#225cc0);
	border-radius: 4px;
	border: 0.5px solid green;
	color: white;
	height: 60px;
	width: 330px;
	box-shadow: -1px -1px -2px #000;
	font-size: 28px;
	font-family: "verdana";
}

.vstoupit:hover {
	background: #225cc0;
}

.vstoupit-div {
	text-align: center;
}

.kod {
	text-align: center;
	border-radius: 4px;
	font-size: 25px;
	height: 35px;
}

.mezera {
	height: 9px;
}

#logo {
	padding-left:300px;
	padding-right:300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.20;
	height: 450px;
	width: 450px;
}

footer {
	height: 1.4em;
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	font-size: 14px;
	color: gray;
	text-align: center;
	text-decoration: none;
	background: linear-gradient(#3e3e3e, #222222);
}

/* Poll */ 
#username {
float:right;
	margin-right: 50px;
	padding-top: 13px;
	color: whitesmoke;
	text-align: right;
	font-size: 25px;
}


#Poll_1, #Poll_2, #Poll_3, #Poll_4, #Poll_5, #Poll_6, #Poll_7, #Poll_8 {
	text-align:center;
	cursor: pointer;
	font-size: 20px;
	height: 80px;
	width: 400px;
	color: white;
	box-shadow: 1px 1px 2px #000;
	border: 1px solid #6a9cf2;
}

#Poll_1, #Poll_3, #Poll_5, #Poll_7{
	margin-left:50px;
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
	background: linear-gradient(#4374d5,#5883da);
}

#Poll_1:hover, #Poll_2:hover, #Poll_3:hover, #Poll_4:hover, #Poll_5:hover, #Poll_6:hover, 

#Poll_7:hover, #Poll_8:hover {
	opacity: 0.7;
	border: 1px solid black;
}

#Poll_2, #Poll_4, #Poll_6, #Poll_8 {
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
	background: linear-gradient(#4374d5,#5883da);
}

.voting {
	text-align:center;
	height:auto;
	min-height:500px;
	color: #262626;
	background-color: #dfdfdf;
	font-size: 30px;
	font-family: sans-serif;
	width: auto;
	max-width: 1920px;
	margin: 0 auto;
	min-width: 1040px;
}

h10{
	text-shadow: 0.5px 0.5px 1px gray;
	font-size: 50px;
	letter-spacing: 5px;	
}

.hlasovani{
margin-left:auto;margin-right:auto;width:920px;
}
/* Kod */
h8{
color:red;
text-align:center;
font-size:100px;
text-shadow: 0.8px 0.8px 0px #eee, 1.6px 1.6px 0px #707070;	
}

/* Návod */
h9{
text-align:center;
font-size:100px;
text-shadow: 1px 1px 0px #eee, 2px 2px 0px #707070;	
}

/* Výsledky */

#result{
position:relative;
	width:800px;
	margin-left:auto;
	margin-right:auto;
}

.bargraph {     
          height: 229px; 
          position: relative; 
          background:  url(../../../img/papergrid.jpg) repeat-x; 
          border-left: 1px solid #d4d4d4;
          margin: 15px auto 50px;
    }

    .bargraph ul.bars {
        margin: 0; 
        padding: 0; 
        list-style-type: none;
    }




    .bargraph ul.bars li {  
        position: absolute; 
        width: 30px; 
        height: 200px; 
        bottom: 29px; 
        padding: 0; 
        margin: 0; 
        text-align: center; 
        font-weight: bold; 
        color: white; 
        font-family: "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
        font-size: 12px;
        z-index: 99;
    }

   
    .bargraph ul.bars li span {
        position: relative;
        top: -25px;
        color: #7c7c7c;
     }
    .bargraph ul.bars li img {        
           margin: 0; padding: 0;
           position: relative;
           top: -71px;
           left: 0;
    }

    .bargraph ul.bars li span.darkpen {
        color: #515151;
        position: static;
    }
    .bargraph ul.bars li span.whitepen {
        color: red;
    }

    .bargraph ul.bars li.bar0 { left: 10px;  }
    .bargraph ul.bars li.bar1 { left: 50px;  }
    .bargraph ul.bars li.bar2 { left: 90px;  }
    .bargraph ul.bars li.bar3 { left: 130px; }
    .bargraph ul.bars li.bar4 { left: 170px; }
    .bargraph ul.bars li.bar5 { left: 210px; }
    .bargraph ul.bars li.bar6 { left: 250px; }
    .bargraph ul.bars li.bar7 { left: 290px; }
    .bargraph ul.bars li.bar8 { left: 330px; }
    .bargraph ul.bars li.bar9 { left: 370px; }
    .bargraph ul.bars li.bar10 { left: 410px; }
    .bargraph ul.bars li.bar11 { left: 450px; }
    .bargraph ul.bars li.bar12 { left: 490px; }
    .bargraph ul.bars li.bar13 { left: 530px; }
    .bargraph ul.bars li.bar14 { left: 570px; }
    .bargraph ul.bars li.bar15 { left: 610px; }
    .bargraph ul.bars li.bar16 { left: 650px; }
    .bargraph ul.bars li.bar17 { left: 690px; }
    .bargraph ul.bars li.bar18 { left: 730px; }
    .bargraph ul.bars li.bar19 { left: 770px; }
    .bargraph ul.bars li.bar20 { left: 810px; }



    .label {
list-style-type: none; 
position: absolute; 
bottom: 3px; 
margin: 0; 
padding: 0;
margin-left:4px; 
}
  
  .label li {  
width:40px;
        text-transform: uppercase; 
        letter-spacing: 0.1em;
        font-size: 14px;
font-weight:bold;
        float: left;
        text-align: center;
        overflow: hidden;
        font-family: "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
        line-height: 1em;
    }


    ul.y-axis { list-style-type: none; position: absolute; 
                  left: -45px; 
                  width: 40px;
                  text-align: right;
                  bottom: 0;
                  margin: 0; padding: 0; 
    }

    ul.y-axis li:first-child {
         height: 40px;
         line-height: 40px;
    }

    ul.y-axis li { 
        color: #aba8a8;  
        font-size: 15px;
        height: 51px;
        line-height: 51px;
        text-align: right;
    }

    ul.y-axis li.units {
        position: absolute;
        bottom: 110px;
        right: 20px;
        line-height: 1.2em;
        height: auto;
    }
  .bargraph  p { 
                position: absolute; 
                left: 0; 
                top: 236px; 
                
                padding: 0; 
                margin:0; 
                text-align: left; 
     
                width: 100%;
                font-family: Verdana, sans-serif;
                font-size: 10px; color: black;
                line-height: 1.3em;
                
              }
.bargraph p.centered { text-align: center;color: #aba8a8;font-size: 15px; }

h4{
color:black;
position:absolute;
top:-14px;
left:5px;
font-size: 12px;}



/* Výsledky_2 */
    .bargraph2 ul.bars li.bar0 { left: 10px;  }
    .bargraph2 ul.bars li.bar1 { left: 100px;  }
    .bargraph2 ul.bars li.bar2 { left: 190px;  }
    .bargraph2 ul.bars li.bar3 { left: 280px; }
    .bargraph2 ul.bars li.bar4 { left: 370px; }
    .bargraph2 ul.bars li.bar5 { left: 460px; }
    .bargraph2 ul.bars li.bar6 { left: 550px; }
    .bargraph2 ul.bars li.bar7 { left: 640px; }
    .bargraph2 ul.bars li.bar8 { left: 730px; }

#result{
position:relative;
	width:800px;
	margin-left:auto;
	margin-right:auto;
}

.bargraph2 {     
          height: 229px; 
          position: relative; 
          background:  url(../../../img/papergrid.jpg) repeat-x; 
          border-left: 1px solid #d4d4d4;
          margin: 15px auto 50px;
    }

    .bargraph2 ul.bars {
        margin: 0; 
        padding: 0; 
        list-style-type: none;
    }




    .bargraph2 ul.bars li {  
        position: absolute; 
        width: 50px; 
        height: 200px; 
        bottom: 29px; 
        padding: 0; 
        margin: 0; 
        text-align: center; 
        font-weight: bold; 
        color: white; 
        font-family: "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
        font-size: 13px;
        z-index: 99;
    }

   
    .bargraph2 ul.bars li span {
        position: relative;
        top: -25px;
        color: #7c7c7c;
     }
    .bargraph2 ul.bars li img {        
           margin: 0; padding: 0;
           position: relative;
           top: -71px;
           left: 0;
    }

    .bargraph2 ul.bars li span.darkpen {
        color: #515151;
        position: static;
    }
    .bargraph2 ul.bars li span.whitepen {
        color: red;
    }



    .label2 { list-style-type: none; 
             position: absolute; bottom: 3px; 
             margin: 0; padding: 0; }
    .label2 li {  
color:white;
height:25px;
width:90px;
        letter-spacing: 0.1em;
        font-size: 12px;
font-weight:bold;
        float: left;
        text-align: center;
        overflow: hidden;
        font-family: "Helvetica;
        line-height: 1em;
    }
  .bargraph2  p { 
                position: absolute; 
                left: 0; 
                top: 236px; 
                
                padding: 0; 
                margin:0; 
                text-align: left; 
     
                width: 100%;
                font-family: Verdana, sans-serif;
                font-size: 10px; color: black;
                line-height: 1.3em;
                
              }
.bargraph2 p.centered { text-align: center;color: #aba8a8;font-size: 15px; }

h15{
color:black;
position:absolute;
top:-17px;
left:21px;
font-size: 15px;}
