html {
	min-height: 600px;
	height: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	min-width: 1250px;
}

div.loginbox {
	height: 100px;
	width: 300px;
	background-color: rgb(231, 231, 231);
	margin: auto;
	border-radius: 15px;
	text-align: center;
}

div.admin {
	height: 100%;
	width: 1100px;
	overflow-y: scroll;
	background-color: rgb(231, 231, 231);
	padding-left: 10px;
	padding-right: 10px;
}

div.msg_wrap {
	overflow-y: scroll;
	height: 300px;
}

div.left_menu {
	background-color: black;
	width: 150px;
	height: 100%;
	float: left;
}

h1 {
	text-align: center;
}

h3 a {
	color: white;
}

#active {
	background-color: rgb(231, 231, 231);
}

#active a {
	color: black;
}

#active a:hover {
	color: black;
}

.level {
	width: 310px;
	text-align: center;
	border-radius: 4px;
	font-size: 25px;
	height: 35px;
}

.tlacitko {
	margin-top: 38px;
}

.registrovat {
	cursor: pointer;
	background: linear-gradient(#4e84e0,#225cc0);
	border-radius: 6px;
	border: 0.5px solid green;
	color: white;
	height: 40px;
	width: 180px;
	box-shadow: -1px -1px -2px #000;
	font-size: 21px;
	font-family: "verdana";
}

.registrovat:hover {
	background: #225cc0;
}

#list {
	font-size: 17px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border: 1px solid black;
	border-collapse: collapse;
}

th {
	border: 1px solid black;
	background: linear-gradient(#6dc06d,#449d44);
}

.long {
	padding-left: 26px;
	padding-right: 26px;
}

.short {
	padding-left: 14px;
	padding-right: 14px;
}

tr:nth-child(even) {
	background: #dedede
}

tr:nth-child(odd) {
	background: #FFF
}

.icons {
	height: 18px;
	width: 18px;
}

td {
	overflow: auto;
	border: 1px solid black;
	height: 50px;
}

#new_poll {
	cursor: pointer;
	background: linear-gradient(#4e84e0,#225cc0);
	border-radius: 6px;
	border: 0.5px solid green;
	color: white;
	height: 40px;
	width: 205px;
	box-shadow: -1px -1px -2px #000;
	font-size: 20px;
}

#new_poll:hover {
	background: #225cc0;
}

#pridat {
	color: green;
}

#odebrat {
	color: red;
}

.moznost{
	margin:3px;
	text-align: center;
	border-radius: 4px;
	font-size: 20px;
	height: 30px;
}

#canvas-holder{
	padding:0 0 30px 30px;
	width:30%;
			}

span{color:black;}


#result{
	position:relative;
	width:600px;
	margin-left:auto;
	margin-right:auto;
}

#pc_submit {
	cursor: pointer;
	background: linear-gradient(#4e84e0,#225cc0);
	border-radius: 6px;
	border: 0.5px solid green;
	color: white;
	height: 30px;
	width: 150px;
	box-shadow: -1px -1px -2px #000;
	font-size: 20px;
}

#pc_submit:hover{
background:#225cc0;
}

h11{
	text-shadow: 0.5px 0.5px 1px gray;
	text-align: center;
	font-size: 20px;
	letter-spacing: 0.5px;
}
h12{
font-size:15px;}

.submit_question {
vertical-align:middle;
	cursor: pointer;
	background: linear-gradient(#4e84e0,#225cc0);
	border-radius: 6px;
	border: 0.5px solid green;
	color: white;
	height: 45px;
	width: 205px;
	box-shadow: -1px -1px -2px #000;
	font-size: 20px;
}

.submit_question:hover {
	background: #225cc0;
}


